@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300;1,500&family=Open+Sans:ital,wght@0,500;0,600;1,500&display=swap");
body {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  background-color: rgb(95, 95, 95);
  font-family: "Open Sans", sans-serif;
  margin:  auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 440px;
  margin:  auto;
  background-color: rgba(240, 248, 255, 0.87);
  border-radius: 10px;
  font-size: 1.2rem;
  overflow: hidden;
  align-items:  center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form input,
form label,
form button {
  display: block;
  margin-bottom: 3px;
  width: 100%;
}
form input {
  font-size: 24px;
  height: 25px;
}

form input:focus {
  outline: 1px solid #353434;
}
form button {
  border: none;
  background-color: #353434;
  color: bisque;
  height: 40px;
  cursor: pointer;
}
#IMC p{
line-height: 20px;
color: #353434;
margin: 10px;
display: flex ;
justify-content: center;
align-items: center;
}
#title{
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#name-imc{
    color: black;
 font-size: 1.6rem;
 font-weight: 700;
 line-height: 0px;
 text-align: center;
 
}
#info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#resultado p{
line-height: 20px;
color: #353434;
margin: 10px;
margin-left: 30px;
display: flex ;
justify-content: center;
align-items: center;

}


#name-resultado{
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 0px;
    text-align: center;
}
